body {
    background-color: #050015;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 25px;
}

p {
    padding: 0;
    margin: 0;
}

/* полупрозрачные рамки */

.frame-element {
    margin: 30px auto;
    background-color: #4B90FF;
    width: 250px;
    padding: 15px 20px;
    border: 15px solid rgba(75, 144, 255, 0.5);
    -webkit-background-clip: no-clip;
    -moz-background-clip: no-clip;
    background-clip: padding-box;
}

.flex-wrap {
    display: flex;
    justify-content: space-around;
}

/* несколько рамок */

.multiply-border {
    background-color: crimson;
    padding: 20px 25px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiply-border-shadow {
    box-shadow: 0 0 0 5px #CC8ADC, 0 0 0 15px #5149DC;
}

.multiply-border-outline {
    border: 5px solid #CC8ADC;
    outline: 10px solid #5149DC;
}

.multiply-border-dashed {
    border: 10px solid transparent;
    outline: 2px dashed #eeeeee;
    outline-offset: -10px;
}

/* позиционирование фона */

.background-position {
    width: 250px;
    padding: 40px 25px;
    text-align: left;
    background: #5149DC url("../img/circle.png") no-repeat;
    -webkit-background-size: 40%;
    background-size: 25%;
}

.background-position-word {
    background-position: bottom 5px right 5px;
}

.background-position-origin {
    background-position: top right;
    background-origin: content-box;
}

.background-position-calc {
    background-position: calc(100% - 5px) calc(100% - 10px);
}

/* внутреннее скругление углов */

.inner-rounding {
    width: 250px;
    background-color: #4B90FF;
    padding: 15px 20px;
}

.inner-rounding-elements p {
    background-color: aquamarine;
    padding: 10px 15px;
    border-radius: 10px;
}

.inner-rounding-shadow {
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #4B90FF;
    outline: 15px solid #4B90FF;
}